.header{
    width: 100%;
    padding: 15px;
    background-color: rgb(88, 146, 223);
    text-align: center;
}

.header h1{
    color: #fff;
}

.header li{
    color: #fff;
    margin-top: 5px;
    font-size: 25px;
}